.title {
    color: #FFF;
    margin-bottom: 24px;
    font-size: 36px;
    text-align: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    gap:5px;
}

.task-input {
    margin: 0;
    font-size: 16px;
    padding: 5px 10px;
}

.task-input:focus {
    outline: none;
}

.task-add-button {
    margin: 0;
    font-size: 16px;
    padding: 5px 10px;
}

.tasks-counter {
    color: #fff;
    margin-top: 10px;
}

.tasks-wrapper {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.tasks-wrapper li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

.tasks-wrapper li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.tasks-wrapper li span {
    color: #fff;
    margin: 0;
}

.tasks-wrapper .buttons-wrapper {
    display: flex;
    gap: 5px;
    margin: 0;
}

.tasks-wrapper .buttons-wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
}